.hide-buttons .btn {
    display: none;
}

.hide-buttons:hover .btn {
    display: inline;
}

.button-row {
    margin: 0 0 3px 5px;
}

.button-row .btn-default {
    border-color: rgba(0,0,0,.2);;
    background-color: #ffffff;
    color: rgba(0,0,0,.5);
}

.button-row .btn-default:hover {
    color: rgba(0,0,0,.7);
}

.button-row .btn-toggle-limited-days {
    background-color: #DCD0FF;
}

.calendar-month {
    padding: 0 5px;
}

.calendar-month h1 {
    margin-left: 5px;
}

.calendar-month td,
.calendar-month thead th {
    vertical-align: top;
}

.calendar-month th .btn {
    font-size: 0.5em;
}

.calendar-month th.limited,
.calendar-month td.limited.for-city {
    background-color: #DCD0FF;
}


.calendar-month th.limited.collapsed,
.calendar-month td.limited.collapsed {
    width: 10px !important;
    max-width: 10px !important;
    overflow: hidden;
    border-left: solid 1px #F8FAFC;
    border-right: solid 1px #F8FAFC;
}

.calendar-month th.limited.collapsed .celldata,
.calendar-month td.limited.collapsed .celldata {
    display: none;
}


.calendar-month td.limited.collapsed:not(.for-city){
    background-color: #e7e7e7 !important;
}

.calendar-month td.limited.not-my-city .btn-add-day,
.calendar-month td.limited:not(.for-city) .btn-add-day {
    display: none;
}

.calendar-month th.limited.not-for-city,
.calendar-month td.limited.not-for-city {
    display: none;
}


.calendar-month .special-weekday {
    color: red;
}

.calendar-month .day-name {
    font-weight: normal;
}

.calendar-month .day-description {
    font-weight: normal;
    font-style: italic;
}

.calendar-month .vacation  {
    display: inline-block;
    font-weight: normal;
    background-color: orange;
    font-size: 0.7em;
    padding: 2px;
    border: solid 1px darkorange;
    border-radius: 2px;
}

span.vacation-conflict {
    background-color: orange;
    text-decoration: underline;
    text-decoration-color: red;
}

.calendar-month .liturgy {
    font-size: 0.7em;
    font-weight: normal;
}

.calendar-month .liturgy-sermon,
.calendar-month .liturgy-color {
    display: inline-block;
}

.calendar-month .liturgy-color {
    width: 10px;
    height: 10px;
    border: solid 1px transparent;
    border-radius: 5px;
}

.calendar-month td.now,
.calendar-month th.now {
    background-color: lightyellow;
}

.calendar-month .service-entry {
    background-color: #f3f3f3;
    border: solid 1px darkgray;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 3px;
}

.calendar-month .service-entry.mine {
    background-color: lightgreen;
}


.calendar-month .service-entry.editable:hover {
    border-color: #a1cbef;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(52,144,220,.25);
}

.calendar-month .service-entry .separator {
    color: gray;
}

.calendar-month .service-time, .calendar-month .service-location {
    display: inline;
}

.calendar-month .service-time.service-special-time {
    color: red;
    font-weight: bold;
}

.calendar-month .service-special-location {
    color: red;
    font-weight: bold;
}

.calendar-month .service-pastor {
    font-weight: bold;
}

.calendar-month .need-predicant {
    font-weight: bold;
    color: red;
}

.calendar-month .designation {
    font-weight: normal;
}

.calendar-month .service-team, .calendar-month .service-description {
    font-size: 0.8em;
}

.calendar-month .service-description {
    font-style: italic;
}

.print-only {
    display: none;
}

.revisions {
    font-size: 0.6em;
}

@media print {
    .btn, .no-print {
        display: none;
    }

    .print-only {
        display: unset;
    }
}

pre {
    border: solid 1px darkgray;
    padding: 5px;
    border-radius: 3px;
}

ol.steps li {
    margin-bottom: 20px;
}

ol.steps img {
    margin-top: 20px;
}

.service-row.cc {
    background-color: lightgreen;
}

.service-row.no-cc {
    color: darkgray;
}

.data-row.no-cc {
    display: none;
}
